body 
{
	background-image: url(fond.jpg);

}

.banniere {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:744px ; 
  height: 100px;

} 

/*Construction menu navigation*/
#nav, #nav ul 
{
   margin:0;
   padding:0;
   list-style: none;
   
}
 
#nav a 
{
   display:block; 
   padding: 0px 90px 0px 90px; /*respectivement padding haut,droite,bas,gauche*/
   text-decoration: none ; /*enlève le soulignage des liens*/
   
}



#nav a:link, #nav a:visited /* design menus */
{
  background: #00beee ;
  color: #e0ffe9 ;
  border: 1px solid #00ffc0;
  font: 20px "Trebuchet MS",Arial;
  
  
}

.nav-item{
  float : left;/* Pour que les liens s’affichent horizontalement */
  position: relative;/* Crée un contexte de positionnement pour les sous-listes */
}

.sub-nav {
  position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000; 
}

.nav-item:hover .sub-nav {
  /* Au survol du menu on replace les sous menus */
    left: auto;
}

#nav a:hover 
{
   background: #55ddff ;/*effet quand on passe souris sur menu*/
}

#nav li ul li a, #nav li ul li a:link { /*largeur sous-rubriques*/
    font-size: 18px;
    display: inline-block;/*on aligne le texte sur une seule ligne*/
    width: auto;
    height: auto;
    vertical-align : middle; 
  }
/*fin menu navigation*/

#titrefiesta {
  font: 30px "Cambera",Arial;
  color: #e0e0e0;
  margin-left:45px;
}

a.bouton2 {
  color: #d7ffb8;
  background-color: #3bbe3f;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 2px outset #a0ff8b;
}
a.bouton2:hover {
  color: white;
  background-color: #41e04c;
  border: 2px inset #40dd36;
}


a.bouton1 {
  color: #d4bddd;
  background-color: #b23ddd;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 2px outset #ff9cee;
}
a.bouton1:hover {
  color: white;
  background-color: #fd6cff;
  border: 2px inset #cc00ff;
}

a.dlcca {
  color: #ffa136;
  background-image: url(cclogo.png);
  filter: brightness(50%); 
  -webkit-filter: brightness(50%);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 20px 45px;
  border: 4px outset #c0c0c0;
}
a.dlcca:hover {
  border: 4px inset #c0c0c0;
  filter: brightness(100%); 
  -webkit-filter: brightness(100%);
}

a.dlptr {
  color: white;
  background-image: url(pkmredlogo.png);
  filter: brightness(50%); 
  -webkit-filter: brightness(50%);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 20px 45px;
  border: 4px outset #c0c0c0;
}
a.dlptr:hover {
  border: 4px inset #c0c0c0;
  filter: brightness(100%); 
  -webkit-filter: brightness(100%);
}

.texte {
  font-size: 14px;
  margin-left:20px;
  margin-right:20px;
  color: #c9c9c9; 
  margin-bottom: 10px
}

.gras {
  color: #e3e3e3;
  font-weight: bold;

}

.souligne {
  text-decoration: underline;  

}

.oppose {
  float : right;
  font-size: 14px;
text-align: right;
}


#slogan {
  font-size: 20px;
  margin-left:20px;
  color: white; 
  font-style: italic;
}


.titreproj {
  font: 30px "Cambera",Arial;
  margin-left:20px;
  color: white;
}
.titreprojp {
  font: 30px "Cambera",Arial;
  margin-left:20px;
  color: #e38eff;
}
.titreprojb {
  font: 30px "Cambera",Arial;
  margin-left:20px;
  color: #7fb5ff;
}
.titreprojg {
  font: 30px "Cambera",Arial;
  margin-left:20px;
  color: #acff7f;
}
.titreprojr {
  font: 30px "Cambera",Arial;
  margin-left:20px;
  color: #ff997f;
}

.contact {
  font-size: 25px;
  color: white;
}

.sousproj {
  font-size: 20px;
  margin-left:20px;
  color: white;
}

.imgscreen { 
  float:bottom; 
  box-shadow: 4px 4px 6px black;
  margin-right: 5px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
} 

.imgproj {  
  margin-left: 15px;
  margin-top: 5px;
} 

#centre  {
 display : block;
  margin-left: auto;
  margin-right: auto;
text-align: center;
}

.cadre {
  border: 1px inset grey;
  margin-left : 40px;
  margin-right: 160px;
  background: #5e5e5e ;
  margin-bottom: 20px;
}

#cadrelarge{
  border: 1px inset grey;
  margin-left : 60px;
  margin-right: 60px;
  background: #5e5e5e;
  margin-bottom: 20px;
}


#cadreglobal
{
  border: 2px solid white;
  border-radius: 7px;
  width: 744.5px;
  background: #3e3e3e;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.footer{
  position: absolute; 
  left: 50%; 
  margin-left: -40px; /* enlever le surplus */
  padding-bottom: 0;
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;

}

/*@media not (orientation: landscape) and (max-width: 480px) {
    
}
